fastapi[standard]==0.135.2
uvicorn==0.44.0
SQLAlchemy==2.0.48
python-dotenv==1.2.2
aiomysql
openai==2.30.0
pandas==3.0.1
numpy==2.4.4
passlib==1.7.4
aiohttp==3.13.5
beautifulsoup4==4.14.3
fake_useragent==2.2.0